/*-----Struktur-----*/
body{
    background:#f0f0f0;
    padding:0px;
    margin:0px;
}

#container{
    width:650px;
    height:800px;
    background:#fcfaf4;
    margin-right:auto;
    margin-left:auto;
    border:1px solid;
    border-color:#a0a0a0;
    padding-top:10px;
}

#topbar{
    width:625px;
    height:220px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:-16px;
    background:#51473d;
    background-image:url(pics/coffey.jpg);
    background-size:630px 200px;
    background-repeat:no-repeat;
    background-position:bottom;
    padding-right:2.5px;
    padding-left:2.5px;
    padding-bottom:0px;
}

#menu{
    width:630px;
    height:32px;
    margin-right:auto;
    margin-left:auto;
    background:#51473d;
}

#content{
    width:630px;
    height:400px;
    margin-right:auto;
    margin-left:auto;
    background:#eae7d2;
    margin-top:0px;
    padding:0px;
    border:1px solid #cecab9;
}

#maincontent{
    width:60%;
    height:310px;
    background:#eae7d2;
    float:left;
}

#subcontent{
    width:35%;
    height:340px;
    background:#eae7d2;
    float:right;
    border-left:1px dashed #c0c0c0;
    position:inherit;
    margin-top:20px;
}

#bottomcontent{
    width:615px;
    height:20px;
    float:left;
    background:#eae7d2;
    clear:both;
    margin-top:10px;
    margin-bottom:0px;
    margin-right:auto;
    margin-left:auto;
}


/*-----Navigation-----*/

#menu a{
    display:none;
}

#menu ul{
    list-style-type:none;
    padding-top:10.5px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}

#menu li{
    display:inline;
    margin-left:5px;
}

#menu ul li a{
    display:inline;
    color:#eae7d2;
    background:#797066;
    text-decoration:none;
    font-family:Verdana;
    font-size:12px;
    text-align:center;
    text-transform:capitalize;
    padding:10px;
    padding-bottom:4px;
    margin-right:-8px;
}

#menu ul li a:hover{
    background:#eae7d2;
    color:#888076;
}

.active{
    background:#eae7d2;
    color:#888076;
}


/*-----Texturer-----*/

#maincontent h1{
    color:#797066;
    font-weight:lighter;
    margin-left:5px;
    padding:0px;
}

#subcontent h1{
    color:#51473d;
    font-weight:lighter;
    font-size:18px;
    padding:1px;
}

#maincontent p{
    color:#797066;
    font-family:verdana;
    font-size:12px;
    line-height:2;
    padding:0px;
    margin-left:10px;
}

#subcontent p{
    color:#797066;
    font-family:verdana;
    font-size:9px;
    line-height:2;
    margin:5px;
    margin-top:20px;
}

h2{
    color:#51473d;
    font-size:15px;
    font-weight:lighter;
    margin-top:40px;
    margin-bottom:0px;
    margin-left:8px;
}

#topbar{
    text-align:right;
    color:#fcfaf4;
    font-style:italic;
    font-size:10px;
    font-family:Verdana;
    
}

#bottomcontent{
    color:#797066;
    font-family:Verdana;
    font-style:italic;
    font-size:10px;
    padding-left:7.5px;
    padding-right:7.5px;
    padding-top:5px;
}


/*-----Listor-----*/

#subcontent ul{
    list-style-type:none;
    padding:2px;
    margin-left:5px;
    margin-top:0px;
    
}

#subcontent li{
    font-size:17px;
    margin-bottom:0px;
}

#subcontent a{
    color:#51473d;
    
}

/*-----Bild-----*/

img {
    float:left;
    padding:0px;
    margin-left:10px;
    margin-right:5px;
    margin-bottom:-5px;
}