/*-----Struktur-----*/
body{
    background:#f0f0f0;
    padding:0px;
    margin:0px;
}

#container{
    width:900px;
    height:900px;
    background:#fcfaf4;
    margin-right:auto;
    margin-left:auto;
}

#topbar{
    width:850px;
    height:20px;
    margin-right:auto;
    margin-left:auto;
    background:#51473d;
    color:#fcfaf4;
}

#menu{
    width:850px;
    height:60px;
    margin-right:auto;
    margin-left:auto;
    background:#51473d;
    margin:20px;
}

#content{
    width:850px;
    height:auto;
    margin-right:auto;
    margin-left:auto;
    background:#eae7d2;
}
#maincontent{
    width:60%;
    height:350px;
    background:#eae7d2;
    float:left;
    
}

#subcontent{
    width:40%;
    height:350px;
    background:#eae7d2;
    float:right;
}

#bottomcontent{
    width:100%;
    height:auto;
    float:left;
    background:#eae7d2;
    clear:both;
}



/*-----Navigation-----*/

/*-----Texturer-----*/

/*-----Listor-----*/