/*-----Struktur-----*/
body{
    background:#f0f0f0;
    padding:0px;
    margin:0px;
}

#container{
    width:650px;
    height:800px;
    background:#fcfaf4;
    margin-right:auto;
    margin-left:auto;
    border:1px solid;
    border-color:#a0a0a0;
}

#topbar{
    width:630px;
    height:220px;
    margin-right:auto;
    margin-left:auto;
    background:#51473d;
    margin-top:10px;
    background-image:url(pics/coffey.jpg);
    background-size: 850px 200px;
    background-repeat:no-repeat;
    background-position:bottom;
}

#menu{
    width:630px;
    height:60px;
    margin-right:auto;
    margin-left:auto;
    background:#51473d;
    margin-top:0px;
    margin-bottom:1px;
}

#content{
    width:630px;
    height:425px;
    margin-right:auto;
    margin-left:auto;
    background:#eae7d2;
    margin-top:0px;
    padding:0px;
}

#maincontent{
    width:60%;
    height:400px;
    background:#eae7d2;
    float:left;
}

#subcontent{
    width:39%;
    height:400px;
    background:#eae7d2;
    float:right;
    border-left:1px dashed #c0c0c0;
    margin:1px;
    position:inherit;
}

#bottomcontent{
    width:100%;
    height:auto;
    float:left;
    background:#eae7d2;
    clear:both;
}


/*-----Navigation-----*/

#menu ul{
    list-style-type:none;
    padding:0px;
    margin-left:10px;
}

#menu li{
    display:inline;
    margin:0px;
    padding:0px;
    
}

#menu a{
    color:#eae7d2;
    background:#797066;
    text-decoration:none;
    font-family:Verdana;
    font-size:12px;
    border:1px solid #797066;
    border-bottom:none;
    padding:9px;
    width:75px;
    text-align:center;
    text-transform:capitalize;
}

#menu a:hover{
    background:#eae7d2;
    color:#888076;
    border:1px solid #eae7d2;
}

.active{
    background:#eae7d2;
    color:#888076;
    border-bottom:1px solid #eae7d2;
}


/*-----Texturer-----*/

#maincontent h1{
    color:#797066;
    font-weight:lighter;
    margin-left:5px;
    padding:0px;
}

#subcontent h1{
    color:#51473d;
    font-weight:lighter;
    font-size:18px;
    padding:1px;
}

#maincontent p{
    color:#797066;
    font-family:verdana;
    font-size:12px;
    line-height:2;
    padding:0px;
    margin-left:10px;
}

#subcontent p{
    color:#797066;
    font-family:verdana;
    font-size:9px;
    line-height:2;
    margin:5px;
}

h2{
    color:#51473d;
    font-size:15px;
    font-weight:lighter;
    margin-top:50px;
    margin-bottom:0px;
}

#topbar {
    text-align:right;/*få centrerad*/
    color:#fcfaf4;
    font-style:italic;
    font-size:10px;
    font-family:Verdana;
    
}

#bottomcontent{
    color:#797066;
    font-family:Verdana;
    font-style:italic;
    font-size:10px;
    padding:0px;
}


/*-----Listor-----*/

#subcontent ul{
    list-style-type:none;
    padding:2px;
    margin:0px;
}

#subcontent li{
    font-size:17px;
}

#subcontent a{
    color:#51473d;
}

/*-----Bild-----*/

img {
    float:left;
    padding:0px;
    margin-left:10px;
    margin-right:5px;
    margin-bottom:-5px;
}